{% extends 'base.html.twig' %}
{% block content %}


    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header"><center>
                            <h3 class="box-title">Liste des Promotions</h3></center>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>Nom </td>
                                <td>date debut</td>
                                <td>date fin </td>
                                <td>pourcentage</td>
                                <td>nom produit</td>


                            </tr>
                            </thead>

                            <tbody>
                            {%  for entity in Promotion %}
                                <tr>
                                    <td>{{ entity.nom }}</td>
                                    <td>{{ entity.datedebut| date  }}</td>
                                    <td>{{ entity.datefin| date  }}</td>
                                    <td>{{ entity.pourcentage }}</td>
                                    <td>{{ entity.nomproduit }}</td>


                                </tr>
                            {% else %}
                                <h1>Table is empty</h1>
                            {%  endfor %}
                            </tbody>
                        </table>









                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-print">
            <div class="col-xs-12">
                <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>

            </div>
        </div>
    </section>


{% endblock %}